/* * {
  box-sizing: border-box;
  outline: 1px solid lightgreen;
} */
body {
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px auto;
  color: #fff;
}
#app {
  margin: auto;
  width: 40vw;
  min-width: 580px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
#header {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-size: auto;
  background-repeat: no-repeat;
}
#header-content {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#header,
#header-content {
  height: 55vh;
}
#menu {
  position: absolute;
  width: 40vw;
  min-width: 580px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px 0px 30px;
}
#menu > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
#menu > ul > li {
  padding: 0px 40px;
}
.covers-containers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.covers-containers > img {
  width: 30%;
  margin-bottom: 20px;
  border-radius: 4px;
}
#categories-group {
  background-color: #000;
  padding-bottom: 20px;
}
#content,
#categories-group {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
p,
#menu,
#categories-group {
  padding-left: 30px;
  padding-right: 30px;
}
h1 {
  text-align: center;
}
h1,
h3,
p {
  margin-bottom: 30px;
}
